[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "external/imgui-notify"]
	path = external/imgui-notify
	url = https://github.com/TyomaVader/ImGuiNotify.git
